<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sizzle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
    <nav>
      <button class="about"><a href="/sizzle/about">About Us</a></button>
      <form action="/recipes/<%=recipes.id;%>?_method=DELETE" method="post">
      <input type="submit" value="Delete Post">
      </form>
      <h1><a href="/recipes">SIZZLE</a></h1>
      <button class="edit"><a href="/recipes/<%=recipes.id;%>/edit">Edit Recipe</a></button>
      <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </nav>
    <h1><%=recipes.title;%></h1>
      <div class="container">
        <div class="sidebar">
          <img src="<%=recipes.image;%>" alt="<%=recipes.title;%>">
        </div>
        <div class="instructions">
          <p><%=recipes.description;%></p>
          </div>
        </div>
      <footer><h5><%=recipes.author;%></h5></footer>


  </body>
</html>
